.search-result {
    margin-top: 40px;
    position: relative;
    min-height: 100vh;
    @media (max-width: 768px) {
      margin-top: 30px; 
    }
    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        li {
            width: 33.33%;
            padding: 12px;
            @media (max-width: 768px) {
                width: 50%;
            }
            @media (max-width: 599px) {
                width: 100%;
            }
        }
    }
}
