.search-bar {
    width: 100%;
    padding: 0 12px;
    .title-block {
        align-self: center;
        display: flex;
        align-items: center;
        .logo {
            width: 60px;
            height: 60px;
            max-width: 100%;
            margin-right: 20px;
        }
        .details {
            .title {
                font-size: 28px;
                line-height: 32px;
                font-family: "Space Mono", monospace;
                font-weight: bold;
            }
            p {
                font-size: 18px;
                line-height: 22px;
                color: #777777;
            }
        }
    }
    .github-search {
        margin: 20px 0;
        display: flex;
        .search-text {
            height: 50px;
            width: 30%;
            @media (max-width: 1200px) {
                width: 40%;
            }
            @media (max-width: 768px) {
                width: 50%;
            }
        }
        .search-category {
            width: 15%;
            margin-left: 20px;
            @media (max-width: 1200px) {
                width: 20%;
            }
            @media (max-width: 768px) {
                width: 30%;
            }
        }
        input,
        select {
            font-size: 18px;
            color: #999999;
            border: 1px solid #ccc;
            padding: 10px 20px;
            @media (max-width: 1200px) {
                font-size: 17px;
            }
            @media (max-width: 768px) {
                font-size: 16px;
            }
            ::placeholder {
                color: inherit;
            }
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
        // input {
        //      &:focus {
        //         border-color: #333;
        //     }
        // }
    }
}
