.search-bar {
    width: 100%;
    padding: 0 12px;
    .title-block {
        align-self: center;
        display: flex;
        align-items: center;
        .logo {
            width: 60px;
            height: 60px;
            max-width: 100%;
            margin-right: 20px;
        }
        .details {
            .title {
                font-size: 28px;
                line-height: 32px;
                font-family: inherit;
                font-weight: bold;
                letter-spacing: -1px;
                @media (max-width: 768px) {
                   font-size: 26px;
                   line-height: 30px;
                }
                @media (max-width: 599px) {
                    font-size: 24px;
                    line-height: 28px;
                 }
            }
            p {
                font-size: 18px;
                line-height: 22px;
                color: #777777;
            }
        }
    }
    .github-search {
        margin: 20px 0;
        display: flex;
        .search-text {
            height: 50px;
            width: 30%;
            @media (max-width: 1200px) {
                width: 40%;
            }
            @media (max-width: 768px) {
                width: 50%;
                height: 45px;
            }
        }
        .search-category {
            width: 16%;
            margin-left: 20px;
            @media (max-width: 1200px) {
                width: 20%;
            }
            @media (max-width: 768px) {
                width: 30%;
            }
        }
        select {
            word-break: break-all;
            white-space: nowrap;
            overflow: hidden;
            max-width: 101%;
            text-overflow: ellipsis;
        }
        input,
        select {
            font-size: 18px;
            color: #999999;
            border: 1px solid #ccc;
            padding: 10px 20px;
            @media (max-width: 1200px) {
                font-size: 17px;
            }
            @media (max-width: 768px) {
                font-size: 16px;
            }
            ::placeholder {
                color: inherit;
            }
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}
